﻿.navbar::before {
    background-image: -moz-linear-gradient(89deg, #000000 0%, #00021f 100%);
    /*background-image: -webkit-linear-gradient(89deg, #000000 0%, #00021f 100%);*/
    background-image: -webkit-linear-gradient(89deg, #00021f 0%, #020758 100%);
    background-image: -ms-linear-gradient(89deg, #000000 0%, #00021f 100%);
}

.h-60-px {
    height: 60px;
}

ul.init-list, ol.init-list {
    padding: revert;
    margin: revert;
    list-style: revert;
}

ol.nested {
    counter-reset: item;
    margin-top: 10px;
}

    ol.nested > li {
        display: block;
        margin-top: 10px;
    }

        ol.nested > li:before {
            content: counters(item, ".") " ";
            counter-increment: item;
        }

.games-content {
    background-color: #000000ab;
    text-align: center;
    height: 350px;
    transition: 400ms ease-in-out;
    opacity: 0;
}

    .games-content:hover {
        /*cursor: pointer;*/
        opacity: 1;
    }

.header .main-menu li a {
    font-size: 14px;
}

.header .nav-right a {
    font-size: 14px;
}

.c-lightorange {
    color: #ff8969 !important;
}

.c-lightred {
    color: #ff7186 !important;
}

.g-orange-pink {
    background-image: -moz-linear-gradient(0deg, #e2906e 0%, #e83a99 100%);
    background-image: -webkit-linear-gradient( 0deg, #e2906e 0%, #e83a99 100%);
    background-image: -ms-linear-gradient(0deg, #e2906e 0%, #e83a99 100%);
    color: white !important;
}
